.tema{
    text-align: center;
}

.color{
    overflow: hidden;
    background-color: #15b3cf;
}

.color a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
}

.colores a:hover{
    background-color: #B67DFA;
    color: black;
}

.columna{
    float: left;
    padding: 20px;
    background-color: #f1f1f1;
    height: 400px;
}

.columna.col{
    width: 20.5%;
}

.columna.m{
    width: 50%;
}

